{% macro diff(diff, isCurrent = true, invertColor = false) %}
    {% set diffType, arrowType = 'orange', 'right' %}

    {% if diff > 0 %}
        {% if invertColor %}
            {% set diffType = 'red' %}
        {% else %}
            {% set diffType = 'green' %}
        {% endif %}

        {% set arrowType = 'up' %}
    {% elseif diff < 0 %}
        {% if invertColor %}
            {% set diffType = 'green' %}
        {% else %}
            {% set diffType = 'red' %}
        {% endif %}

        {% set arrowType = 'down' %}
    {% endif %}


    <span
            {% if isCurrent %}
                data-toggle="tooltip"
                data-title="Calculated with a potential forecast to end of period."
            {% endif %}
          class="big-data-table-diff-{{ diffType }}">
        <i class="fa fa-arrow-{{ arrowType }}"></i> {{ diff }}%
    </span>
{% endmacro %}
